.menu {
    width: 350px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    padding: 15px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.menu-item img {
    width: 50px;
    height: 50px;
}

.selected {
    color: #000000;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}