.menu {
    width: 350px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    padding: 15px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.menu-item img {
    width: 50px;
    height: 50px;
}

.no-selected {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.36;
    letter-spacing: -0.04em;
}

.selected {
    color: #000000;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.87;;
    letter-spacing: -0.04em;
}