.menu {
    width: 100%;
    height: auto;
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    position: sticky;
    top: 130px;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    display: flex;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 30px;
}

.menu-container .menu-next,
.menu-container .menu-prev{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    z-index: 999;
}

.menu-container .menu-next img,
.menu-container .menu-prev img {
    opacity: .3;
}


.menu-container .menu-prev{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, .4), rgba(255, 255, 255, 1));
}

.menu-container .menu-prev img {
    transform: rotate(180deg);
}
.menu-container .menu-next {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, .4), rgba(255, 255, 255));
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    flex: 0 0 auto;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
    min-width: 180px;
    padding: 10px 10px 0;
}

.menu-item img {
    width: 63px;
    height: 63px;
    max-inline-size: none;
}

.selected {
    display: block;
    font-weight: 700;
    border-bottom: 4px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(220,220,220,0.2);
}

@media (min-width: 769px) {
    .menu-container {
        width: 355px;
        display: block;
        padding: 0;
        border: none;
    }

    .menu {
        width: 350px;
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        padding: 15px;
        white-space: normal;
        display: block;
    }


    .menu ul {
        display: block;
    }

    .menu ul li a {
        flex-direction: row;
    }

    .menu-item {
        font-size: 16px;
        margin: 0;
    }

    .menu-item img {
        width: 50px;
        height: 50px;
    }

    .no-selected {
        display: block;
        font-size: 1rem;
        line-height: 1.36;
        letter-spacing: -0.04em;
    }

    .no-selected .menu-title {
        display: block;
    }

    .selected {
        display: block;
        font-size: 1.375rem;
        font-weight: 700;
        line-height: 1.87;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        border: none;
        background-color: transparent;
        margin: 8px 0;
    }

    .menu-container .menu-next,
    .menu-container .menu-prev{
        display: none;
    }
}
