.home-container {
    display: flex;
    flex-direction: column;
}

.home-content {
    padding: 16px;
}

.home-menu {
    position: sticky;
    top: 130px;
    background-color: #fff;
}

@media (min-width: 769px) {
    .home-container {
        flex-direction: row;
    }

    .home-content {
        padding: 30px 80px;
        width: 100%;
    }


}
@media (min-width: 768px) and (max-width: 1024px) {
    .home-menu {
        width: 37%;
    }
}
@media (min-width: 1024px) {
    .home-menu {
        width: 30%;
    }
}
