.event .event-calendar {
    margin-bottom: 84px;
}

.event-month {
    font-size: 2.5rem;
    font-weight: 600;
}

.event aside {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    align-items: center;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.event aside:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
    scale: 1.01;
    background-color: #F6F6F6;
}
.event-category {
    width: 5.625rem;
}

.event-category img {
    width: 90px;
    height: 90px;
    opacity: 0.3;
}

.event aside:hover .event-category img {
    opacity: 1;
}

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-date span {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: -0.04em;
}

.event-title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.event-title .title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: -0.04em;
}

.event-title .sub-title {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: -0.04em;
}

.event-canceled {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
}

.event-canceled span {
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    transform: rotate(-20deg);
}

.event-button {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.event-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin-right: 2rem;
    border: none;
    cursor: pointer;
}

.event-button img {
    width: auto;
    height: auto;
    max-inline-size: fit-content;
}