.description {
    margin-bottom: 24px;
}

.description span {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: -0.04em;
}

.description p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.36;
    letter-spacing: -0.04em;
    margin: 0 0 0.5rem 0;
}

.description ul {
    margin: 0.5rem 0 1rem 2rem;
}

.description ul li {
    list-style-type: disc;
}

@media (min-width: 768px) {
    .description {
        margin-bottom: 84px;
    }

    .description span,
    .description p {
        font-size: 18px;
    }

    .description ul {
        margin: 0.5rem 0 1rem 5rem;
    }
}
