header {
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 16px;
    z-index: 99;
}

.about-us a {
    text-decoration: underline;
}

.wrapper-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    gap: 50px;
}

.join-us, .join-us_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.join-us .join-us_text {
    font-size: 26px;
}

.join-us_img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
    padding: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.join-us .join-us_img {
    width: 100px;
    height: 30px;
}

.join-us {
    position: relative;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    margin-bottom: 5px;
    z-index: 10;
}

.join-us_link:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.wrapper-info .about-us {
    font-size: 1.5rem;
}
