.scroll-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border: none;
    scale: 1.01;
    background-color: #F6F6F6;
    border-radius: 50px;
}

.scroll-top-btn.show {
    display: inline-block;
}
